@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Jiew Theater</h1>
    <p>โปรเเกรมหนังทั้งหมด <a href="@Url.Action("Index","MasterMovie")">คลิ๊กที่นี่</a>.</p>
</div>
